<footer class="site-footer" id="contact">
  <div class="container">
    <p class="section-label">Contact</p>
    <div class="social">
      <a href="#" data-u="kkarasavvas" data-d="gmail.com" data-show="address">email</a>
      <a href="{{ site.github }}">github</a>
      <a href="{{ site.linkedin }}">linkedin</a>
      <a href="{{ site.twitter }}">twitter</a>
      <a href="{{ site.keybase }}">keybase</a>
    </div>
    <p class="copyright">&copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </div>
</footer>
